#conteudo {
	background-image: url(../img/fundo.jpg);
	width: 716;
	height: 537;
	
}

#i0 {
	position: absolute;
	top: 135px;
	left:156px;
}

#i1 {
	position: absolute;
	top: 143px;
	left:80px;
}
#i2 {
	position: absolute;
	top: 208px;
	left:60px;
}
#i3 {
	position: absolute;
	top: 176px;
	left:181px;
}

#i4 {
	position: absolute;
	top: 192px;
	left:106px;
}
#i5 {
	position: absolute;
	top: 278px;
	left:164px;
}
#i6 {
	position: absolute;
	top: 252px;
	left:180px;
}
#i7 {
	position: absolute;
	top: 235px;
	left:32px;
}
#i8 {
	position: absolute;
	top: 305px;
	left:85px;
}
#i9 {
	position: absolute;
	top: 397px;
	left:75px;
}
#i10 {
	position: absolute;
	top: 312px;
	left:238px;
}
#i11 {
	position: absolute;
	top: 327px;
	left:155px;
}
#i12 {
	position: absolute;
	top: 427px;
	left:7px;
}
#i13 {
	position: absolute;
	top: 445px;
	left:103px;
}
#i14 {
	position: absolute;
	top: 340px;
	left:17px;
}
#i15 {
	position: absolute;
	top: 418px;
	left:232px;
}
#i16 {
	position: absolute;
	top: 250px;
	left:100px;
}
#i17 {
	position: absolute;
	top: 220px;
	left:150px;
}
#i18 {
	position: absolute;
	top: 397px;
	left:150px;
}
#i19 {
	position: absolute;
	top: 368px;
	left:200px;
}
#i20 {
	position: absolute;
	top: 180px;
	left:140px;
}
#i21 {
	position: absolute;
	top: 122px;
	left:107px;
}
#i22 {
	position: absolute;
	top: 280px;
	left:52px;
}
#i23 {
	position: absolute;
	top: 350px;
	left:107px;
}
#i24 {
	position: absolute;
	top: 318px;
	left:55px;
}
#i25{
	position: absolute;
	top: 305px;
	left:115px;
}
#i26{
	position: absolute;
	top: 390px;
	left:30px;
}
#i27{
	position: absolute;
	top: 325px;
	left:20px;
}
#i28{
	position: absolute;
	top: 220px;
	left:190px;
}
#i29{
	position: absolute;
	top: 327px;
	left:190px;
}
#i30{
	position: absolute;
	top: 300px;
	left: 190px;
	
}
#i31{
	position: absolute;
	top: 150px;
	left: 100px;
}
#i32{
	position: absolute;
	top: 180px;
	left: 203px;
}
#i33{
	position: absolute;
	top: 120px;
	left: 140px;
}
#i34{
	position: absolute;
	top: 90px;
	left: 100px;
}
#i35{
	position: absolute;
	top: 124px;
	left: 75px;
}
#i36{
	position: absolute;
	top: 175px;
	left: 85px;
}
#i37{
	position: absolute;
	top: 220px;
	left: 100px;
}

#link1 {
	position: absolute;
	top: 305px;
	left:525px;
}
#link2 {
	position: absolute;
	top: 12px;
	left:280px;
}