
ul.links{
	list-style:none;
	font-size:16px;
}
ul.links li{
	margin-right:20px;
	display:inline;
}

.menubar{
	list-style:none;
	font-size:14px;
	float:right;
	cursor:pointer;
	width:100px;
}
.menubar li a{
	text-decoration:none;
	padding: 5px;
	display:block;
	background:#00B2B2;
	border:1px solid #fff;
	color:#fff;
}
.menubar .submenu{
	list-style:none;
	position:absolute;
	display:none;
	font-size:90%;
	width:100px;
}
.menubar .submenu li a{
	padding:5px;
	background:#20B2AA;
	display:block;
}
.menubar .submenu li a:hover{
	background:#008B8B;
	color:#FFF;
}
.menubar li:hover .submenu{
	display:block;
}
